.description {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.name,
.tag,
.location {
  margin: 0;
}

.image {
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  margin-bottom: 10px;
  color: #122236;
  font-size: 18px;
}

.tag {
  margin-bottom: 10px;
  color: #768696;
  font-size: 14px;
}

.location {
  color: #768696;
  font-size: 14px;
}
